<div class="container" id="i18_contact_me">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line" style="margin-top: 30px;"></div>
            <h1><span data-i18n="contact.contact">Contact Me</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><strong>Email:</strong> pavel@yarmak.me</p>
            <p><strong>Phone:</strong> (204) 698-1526</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p id="jalpc_site_pv"><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
        </div>
    </div>
</div>